.panel-nav-item .glyphicon{
  font-size:2.2em ;
}
.panel-nav-item.active{
  opacity:1;
}
.well p{
  text-align:left;
}
.panel-default{
  border-radius:10px;
}
.panel-heading{
  border-radius:10px 10px 0 0;
}
.panel-main-container{
  margin-top:30px;
}
.list-group strong{
  font-size:14px;
  font-weight:700;
}
.list-group.centergroup *{
  text-align:center;
}
.panel-files-container{
  background: transparent;
  height: 50vh;
  border-radius: 40px;
  max-height:250px;
  margin-bottom:20px;
}
.dropbox-well{
  box-shadow: 0px 0px 11px rgba(0,0,0,.1) inset;
  border: 1px solid rgba(0,0,0,.2);
}
.group-card ul{
  width:49%;
  display:inline-block;
}
.file-panel-info{
  color:rgb(50,100,255);margin:2px auto 5px;
}
.panel-down, .panel-up, .panel-delete{
  float:right;
  font-size:1em;
  opacity:0.4;
  cursor:pointer;
  margin:0px 10px;
}
.well .help-text{
  color:green;font-size:12px;font-family:Sniglet;margin:-5px auto 15px;
}
.group-card table{
  display:none;
}
#search-students-results{
  max-height:500px;
  overflow:scroll;
}
#search-students-results .list-group-item{
  text-align:left;
}
#thread .container-fluid{
  margin:10px auto;
}
hr{
  background-color:gray;
  opacity:.2;
  background-image:none;
  border:0px;
}
